.clients {
    height: min(450px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-querie('mobile'){
        justify-content: flex-start;
    }
    @include slide;
    .slide {
        @include media-querie('mobile') {
            padding: 0 10%;
        }
    }
    .item {
        min-width: calc(20% - 20px);
        border: 1px solid $light-blue;
        margin: 0 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.3s ease-out;
        @include media-querie('mobile') {
            min-width: calc(33.3% - 20px);
        }
        img {
            min-width: 100%;
            transition: all 0.3s;
        }
        &:hover {
            img {
                transform: scale3d(1.1, 1.1, 1.1);
            }
            box-shadow: 0 0 0 1px $light-blue;
        }
    }
}