.contact .container {
    display: flex;
    justify-content: space-evenly;
    .contact-data .data {
        display: grid;
        grid-template-columns: fit-content(100%) 1fr;
        margin: 0 auto 15px auto;
        img {
            grid-row: 1 / -3;
            margin: auto 10px auto 0;
        }
        h5 {
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        &:last-of-type h5{
            margin-bottom: 10px;
        }
        p, li{
            grid-column: 2;
            color: $light-blue;
            @include typo(14, 300);
        }
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;
        @include typo(14, 300);
        color: $light-blue;
        #name {
            grid-column: 1;
            margin-right: 15px;
        }
        #email {
            grid-column: 2;
        }
        #subject, textarea, button {
            grid-column: 1 / -1;
        }
        textarea, input {
            resize: none;
            padding: 8px 11px;
            border-radius: 2px;
            border: none;
            outline: none;
            background: $light-grey;
            margin-bottom: 10px;
            &:focus {
                box-shadow: 0 0 0 2px $pink;
            }
        }
        button {
            background: $pink;
            border-radius: 100px;
            border: none;
            padding: 10px 0;
            @include typo(12, 700);
            text-transform: uppercase;
            color: white;
        }
        textarea {
            min-height: 200px;
        }
    }
}