* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    @include typo(40, 700);
    @include media-querie('mobile') {
        @include typo(28, 700);
    }
}

h2 {
    @include typo(28, 700);
    @include media-querie('mobile') {
        @include typo(20, 300);
    }
}

h3 {
    @include typo(24, 300);
    @include media-querie('mobile') {
        @include typo(16, 300);
    }
}

h4 {
    @include typo(18, 700);
    @include media-querie('mobile') {
        @include typo(14, 300);
    }
}

h5 {
    @include typo(14, 700);
}

p, a  {
    @include typo(16, 300);
    @include media-querie('mobile') {
        @include typo(12, 300);
    }
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

section {
    @include media-querie ('mobile'){
        padding-bottom: 40px;
    }
    @include media-querie('x-large'){
        min-height: 60vh;
    }
}

section header {
    width: 60%;
    max-width: 480px;
    margin: 80px auto 40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-querie('mobile') {
        width: 90%;
    }
    .bar {
        width: 50px;
        margin-bottom: 40px;
        clip-path: inset(0 50% 0 50%);
        transition: all 0.8s;
        &.active {
            clip-path: inset(0 0 0 0);
        }
    }
    h4 {
        color: $pink;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    p {
        margin-top: 15px;
        width: 75%;
        color: $light-blue;
    }
}

// Cabeçalho
.menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    transition: all 0.5s;
    .sandwich, .close {
        display: none;
    }
    @include media-querie('mobile&tablet') {
        max-width: fit-content;
        height: 100%;
        z-index: 10;
        right: -50%;
        .sandwich, .close {
            display: block;
            position: fixed;
            top: 10px;
            right: 10%;
            cursor: pointer;
            padding: 10px;
            transition: all 0.5s ease;
            @include media-querie('tablet') {
                min-width: 20px;
            }
        }
        .sandwich {
            clip-path: inset(0 0% 0 0%);
            z-index: 1;
        }
        .close {
            clip-path: inset(0 50% 0 50%);
            z-index: 0;
        }
        &.active {
            right: 0;
            .sandwich {
                clip-path: inset(0 50% 100% 50%);
                z-index: 0;
            }
            .close {
                clip-path: inset(0 0 0 0);
                z-index: 1;
            }
            @include media-querie('custom', 350px) {
                .logo {
                    left: 25%;
                }
            }
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;
        min-width: 60%;
        margin: 0 auto;
        position: relative;
        [data-js='visible'] {
            box-shadow: 0 4px transparent, 0 1.5px white;
        }
        @include media-querie('tablet') {
            min-width: 25vw;
        }
        @include media-querie('desktop') {
            .logo-container.bg-set {
                background-color: transparent;
            }
        }
        @include media-querie('mobile&tablet') {
            background-color: $pink;
            .logo-container {
                position: fixed;
                left: 0;
                top: 0;
                width: 100vw;
                height: 80px;
                transition: all 0.5s;
                &.bg-set {
                    height: 40px;
                    .logo {
                        left: 10%;
                        top: -10px;
                        transform: scale3d(0.5, 0.5, 0.5);
                    }
                }
            }
        }
        img {
            margin-left: 20px;
            transition: all 0.5s;
            @include media-querie('mobile&tablet') {
                margin: 0;
                position: fixed;
                top: 10px;
                left: calc(50% - 46px);
            }
        }
        ul {
            margin-right: 20px;
            display: flex;
            transition: all 0.3s;
            @include media-querie('mobile&tablet') {
                text-align: center;
                flex-direction: column;
                min-height: 100vh;
                justify-content: space-evenly;
                margin: 0;
                padding: 10vh 0 40vh 0;
            }
        }
        a {
            margin: 0 10px;
            padding-bottom: 4px;
            @include typo(14, 300);
            color: white;
            cursor: pointer;
            text-decoration: none;
            z-index: 1;
            box-shadow: 0 5.5px transparent;
            transition: all 0.3s;
            &:hover {
                box-shadow: 0 4px transparent, 0 1.5px white;
            }
            @include media-querie('tablet') {
                @include typo(20, 300)
            }
        }
    }
}

.bg-set {
    background-color: $pink;
    & .sandwich, & .close {
        top: 5px;
    }
}

// Rodapé
footer {
    padding: 20px 0;
    margin-top: 80px;
    min-width: 100%;
    background: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    .social-media-links {
        display: flex;
        justify-content: center;
        img {
            margin: 0 7.5px 20px 7.5px;
        }
    }
}