.home {
    position: relative;
    min-height: 100vh;
    background-image: url(../img/home/bg.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
    h1 {
        margin: 37px auto 33px auto;
        min-height: 51px;
        text-align: center;
    }
    p {
        margin-bottom: 20px;
    }
    @include media-querie('mobile') {
        h3, h1 {
            max-width: 80%;
            margin: 0 auto;
        }
        h1 {
            margin-top: 18px;
            margin-bottom: 12px;
            min-height: 72px;
        }
        p {
            margin-bottom: 20px;
            @include media-querie('custom', 350px){
                max-width: 90%;
                margin: 0 auto 20px auto;
                br {
                    display: none;
                }
            }
        }
    }
    .buttons {
        display: flex;
        width: 40%;
        margin: 0 auto;
        justify-content: center;
        @include media-querie('mobile') {
            width: 100%;
        }
        a {
            text-transform: uppercase;
            min-width: fit-content;
            padding: 10px;
            margin: 0 5px;
            cursor: pointer;
            transition: all 0.25s;
            @include typo(14, 700);
            @include media-querie('mobile') {
                @include typo(8, 700);
            }
        }
        a:first-child {
            color: $pink;
            background-color: white;
            border-radius: 100px;
            padding: 10px 26px;
            &:hover {
                box-shadow: 2px 6px $pink;
            }
        }
        a:last-child {
            color: white;
            background-color: $pink;
            border-radius: 100px;
            &:hover {
                box-shadow: 2px 6px white;
            }
        }
    }
}

@include unclipFromLeft('line', 100%);
.cool-line {
    position: absolute;
    min-width: 100vw;
    height: 100px;
    bottom: 5%;
    @include media-querie('mobile'){
        bottom: 20%;
        transform: scale3d(2, 2, 2);
    }
    img {
        position: absolute;
        width: 100%;
        bottom: 5%;
        will-change: transform;
        &.line {
            animation: unclipFromLeft_line 3s forwards;
        }
    }
}

.bubbles {
    @for $i from 1 through 9 {
        .bubble-#{$i} {
            opacity: 0;
            @if $i <= 3 {
                transform-origin: left;
            } @else if $i == 5 or $i == 6 {
                transform-origin: center;
            } @else if $i >= 7 {
                transform-origin: right;
            }
            animation: grow 0.33s 0.2s * $i forwards;
        }
    }
}
