.home {
    position: relative;
    min-height: 100vh;
    background-image: url('/img/home/bg-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    h1 {
        margin: 37px 0 33px 0;
    }
    p {
        margin-bottom: 20px;
    }
    .buttons {
        display: flex;
        width: 40%;
        margin: 0 auto;
        justify-content: space-evenly;
        a {
            text-transform: uppercase;
            @include typo(14, 700);
        }
        a:first-child {
            color: $pink;
            padding: 10px 26px;
            background-color: white;
            border-radius: 100px;
        }
        a:last-child {
            color: white;
            padding: 10px;
            background-color: $pink;
            border-radius: 100px;
        }
    }
}

@include unclipFromLeft('line', 100%);
.cool-line {
    position: absolute;
    min-width: 100%;
    height: 100%;
    img {
        position: absolute;
        width: 100%;
        bottom: 5%;
        &.line {
            animation: unclipFromLeft_line 3s forwards;
        }
    }
}

.bubbles {
    @for $i from 1 through 9 {
        .bubble-#{$i} {
            opacity: 0;
            @if $i <= 3 {
                transform-origin: left;
            } @else if $i == 5 or $i == 6 {
                transform-origin: center;
            } @else if $i >= 7 {
                transform-origin: right;
            }
            animation: grow 0.33s 0.2s * $i forwards;
        }
    }
}