.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
        background-color: white;
        padding: 4px 5px;
        border-radius: 100px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        min-width: fit-content;
        min-height: 33px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .open {
            display: none;
        }
        @include media-querie('mobile') {
            background: transparent;
            box-shadow: none;
            position: relative;
            .menu-options {
                display: flex;
                flex-direction: column;
                .hidden {
                    visibility: hidden;
                    height: 0;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    transition: all 0.2s ease-out;
                }
            }
            .open {
                display: block;
                padding: 0;
                position: absolute;
                right: -25px;
                top: 15px;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-top: 10px solid $pink;
                border-bottom: 0px solid transparent;
                transition: all 0.3s ease-out;
                &:hover {
                    background: transparent;
                }
                &.active {
                    border-bottom: 10px solid $pink;
                    border-top: 0px solid transparent;
                }
            }        
        }
        button {
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 6px 13.5px;
            margin: 0 5px;
            border-radius: 100px;
            @include typo(14, 700);
            color: $dark-blue;
            transition: all 0.2s ease;
            @include media-querie('mobile'){
                margin: 5px 0;
            }
            &:hover, &.selected {
                background: $pink;
                color: white;
            }
        }
    }
}

.works {
    min-width: 60%;
    margin: 40px 20px 0 20px;
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "a b c d e"
                             "f g h i j";
        gap: 20px;
        .hidden {
            transform: scale(0);
            
        }
        .waiting {
            transform: scale(0);
            &:hover {
                transform: none;
            }
        }
        .selected {
            animation: grow 0.3s;
        }
        @include media-querie('mobile'){
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "a b" 
                                 "c d" 
                                 "e f"
                                 "g h" 
                                 "i j";
        }
        li {
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale3d(1.1, 1.1, 1.1);
            }
            img {
                min-width: 100%;
            }
        }
    }
}

