.services {
    background-image: url(F.Comm/img/services/bg.svg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 85px;
    header {
        padding-top: 80px;
        h2 {
            color: white;
        }
        p {
            color: $light-blue;
        }
    }
    @include slide();
    .slide {
        @include media-querie('mobile') {
            padding: 0 15%;
        }
    }
    .item {
        user-select: none;
        position: relative;
        margin: 0 10px;
        min-width: calc(33.3% - 20px);
        display: flex;
        transition: all 0.25s ease-out;
        @include media-querie('tablet') {
            min-width: calc(50% - 20px);
        }
        @include media-querie('mobile') {
            min-width: calc(100% - 20px);
        }
        &.shifted {
            animation: moveLeft 0.5s;
        }
        &.move {
            animation: moveLeft 0.3s 0.5s;
        }
        &.inserted {
            animation: moveRight 0.5s;
        }
        .item-content {
            background: $dark-blue;
            border-radius: 5px;
            display: grid;
            grid-template-rows: repeat(2, fit-content(100%)) 1fr;
            padding: 40px 20px;
            margin: 0 auto;
            @include media-querie('mobile') {
                max-width: 400px;
                padding: 20px;
            }
        }
        img {
            margin: 0 auto;
            user-select: none;
        }
        h4 {
            text-transform: uppercase;
            color: $pink;
            margin: 40px auto 17px auto;
        }
        p {
            color: white;
        }
    }
}

