.social-media {
    height: min(500px);
    @include slide;
    .slide {
        padding-bottom: 10px;
        @include media-querie('mobile') {
            padding: 0 20% 10px 20%;
        }
    }
    .item {
        background-color: $light-grey;
        min-width: min(calc(33.3% - 40px), 350px);
        text-align: center;
        border-radius: 5px;
        margin: 0 20px;
        box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.125);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-out;
        flex-grow: 1;
        @include media-querie('tablet') {
            min-width: calc(50% - 40px);
        }
        @include media-querie('mobile') {
            min-width: calc(100% - 40px);
        }
        .post-container {
            overflow: hidden;
            min-width: 100%;
        }
        img {
            min-width: 100%;
            border-radius: 5px;
            margin-top: 2px;
            transition: all 0.3s;
        }
        p {
            color: $light-blue;
            font-size: clamp(16px, 1vw, 20px);
            padding: 13px 10px;
            @include media-querie('mobile') {
                font-size: 14px;
            }
        }
        &:hover {
            img {
                transform: scale3d(1.05, 1.05, 1.05);
            }
        }
    }
}